<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dashboard</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/style.css" rel="stylesheet">
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<style>
      .atas{
          margin-top: 60px;
          width: 100%;
      }
      h4{
          margin-top: 30px;
      }
      .style2{
          width: 400px;
          margin-top: 10px;
      }
      .style1{
          width: 400px;
          background-color: rgb(226, 26, 26);
          color: white;
      }
      .style3{
          width: 600px;
      }
      .margin{
          margin-left: -90px;
      }
      .style4{
          width: 90%;
      }
  </style>
	<body>
		<div class="container atas">
			<% include navbar.ejs %> 
			<div class="container">
				<table class="table table-striped style2">
					<thead class="thead-dark style1">
						<th class="center">Season</th>
						<th colspan="2">Action</th>
					</thead>
					<tbody>
							<% x.forEach (x => { %>
								<tr>    
									<td><%= x.nameseason %></td>
									<td><a href="/update-season/<%= x.id %>">Edit</a></td>
									<td><button type="button" class="btn btn-warning" onclick="return confirm('Yakin untuk delete?')"><a href="/delete-season/<%=x.id%>">Delete</button></td>                                   
								</tr>
							<% }) %>
					</tbody>
				</table>
				<hr>
				<form action="/save-season" method="POST">
				<input type="text" name="seasons" placeholder="Seasons">
				<button class="btn-btn success" type="submit">Save</button>
				</form>
			</div>

			<!-- ////=========================CATEGORY SEASON=========================================/ -->

			<div class="container">
				<table class="table table-striped style2">
					<thead class="thead-dark style1">
						<th class="center">Season</th>
						<th class="center">Category</th>
						<th colspan="2">Action</th>
					</thead>
					<tbody>
						<% y.forEach (y => { %>
							<tr>    
								<td><%= y.nameseason %></td>
								<td><%= y.category_name %></td>
								<td><a href="/update-category/<%= y.id %>">Edit</a></td>
								<td><button type="button" class="btn btn-warning" onclick="return confirm('Yakin untuk delete?')"><a href="/delete-season/<%=y.id%>">Delete</button></td>
							</tr>
						<% }) %>
					</tbody>
				</table>
				<hr>
				<form action="/save-cs" method="POST">
					<br><select name="seasons" class="form-control style2">
					<option selected>Pilih Kategori</option>
						<% x.forEach (x => { %>
							<option name="seasons" value="<%= x.id %>"><%= x.nameseason %></option>
						<% }) %>                             
					</select>
					<br>
					<br><input type="text" name="category_names" placeholder="Category Name">    
					<input type="submit">                            
				</form>
				<br>
				
			</div>

			<!-- ////=========================PRODUCT=========================================/ -->
			<div class="container">
				<table class="table table-striped style4">
					<thead class="thead-dark style1">
						<th>Season</th>
						<th>category</th>
						<th>Product</th>
						<th>Description </th>
						<th>Price</th>
						<th colspan="2">Action</th>
					</thead>
					<tbody>
					<% z.forEach ( z => { %>
						<tr>
							<td><%= z.nameseason %> </td>
							<td><%= z.category_name %> </td>
							<td><%= z.product %> </td>
							<td><%= z.description %> </td>
							<td><%= z.price %> </td>
							<td><a href="/update-product/<%= z.id %>">Edit</a></td>
							<td><button type="button" class="btn btn-warning" onclick="return confirm('Yakin untuk delete?')"><a href="/delete-product/<%=z.id%>">Delete</button></td>  
						</tr>
					<% }) %>	
					</tbody>
				</table>

				<h3>Input Product</h3>
				<form action="/save-product" method="POST" enctype="multipart/form-data">
					<select name="category_names" class="form-control style2">
					<option selected>Category Season</option>
						<% y.forEach (y => { %>
							<option value="<%= y.id %>"> <%= y.nameseason %> | <%= y.category_name %> </option>            
						<% }) %>
					</select>
					  
					<input class="form-control margin" id="ex1" type="text" name="name_products" required placeholder="product">
					<input class="form-control margin" id="ex2" type="number" name="prices" required placeholder="price">
					<textarea class="form-control margin" name="descriptions" rows="4"  required name="descriptions" placeholder="description"></textarea>
					<input type="file" name="uploaded_image" accept=".jpg,.png" required/>
					  <br>
					  <br>
					<button type="submit" class="btn btn-primary">Save</button>
				</form>
				<hr>

				<!-- ////========================= COLOR =========================================/ -->

				<table class="table table-striped style2">
					<thead class="thead-dark style1">
						<th>Product</th>
						<th>Color</th>
						<th colspan="2">Action</th>
					</thead>
					<tbody>
						<% colours.forEach ( colours => { %>
							<tr>
								<td><%= colours.product %></td>
								<td><%= colours.color %></td>
								<td><a href="/update-color/<%= colours.id %>">Edit</a></td>
								<td><button type="button" class="btn btn-warning" onclick="return confirm('Yakin untuk delete?')"><a href="/delete-color/<%=colours.id%>">Delete</button></td>
							</tr>
						<% }) %>
					</tbody>
				</table>    			
				<h4>Input Colors</h4>
				<form action="/save-color" method="POST">
					<select name="product_ids" class="form-control style2">
						<option>Pilih ID Produk</option>
							<% z.forEach (z => { %>
								<option name="product_ids" value="<%= z.id %>"> <%= z.product %>&emsp; >>&emsp;  <%= z.category_name %>&emsp; >>&emsp;  <%= z.nameseason %></option>            
							<% }) %>
						</select>
					<div class="container">
						<br><div class="col-xs-3">
							<input class="form-control margin" type="text" name="colors" placeholder="Input Colors">
						</div>
					</div>
					<br><button type="submit" class="btn btn-primary">save</button>
				</form>    
				<hr>
				
				<!-- ////=========================SIZE=========================================/ -->
				<table class="table table-striped style2">
					<thead class="thead-dark style1">
						<th>Product </th>
						<th>Size </th>
						<th>Stock</th>
						<th colspan="2">Aksi</th>
					</thead>
					<tbody>
						<% sized.forEach ( sized => { %>
							<tr>
								<td><%= sized.product %> </td>
								<td><%= sized.size %> </td>
								<td><%= sized.stock %></td>  
								<td><a href="/update-stock/<%= sized.id %>">Edit</a></td>
								<td> <a href="#">Delete</a></td>                                        
								<td></td>                                     
								</tr>
						<% }) %>
					</tbody>
				</table>    


				<!-- ////=========================CATALOG PRODUCT=========================================/ -->
                <h4>Input Ukuran dan Stok</h4>
					<form action="/save-stock" method="POST">
						<select name="color_ids" class="form-control style2">
							<option>Pilih ID Produk</option>
								<% colours.forEach (colours => { %>
									<option name="color_ids" value="<%= colours.id %>"> <%= colours.product %>&emsp; >> <%= colours.color %> </option>            
								<% }) %>
						</select>
						<div class="container">
							<br><div class="col-xs-3">
								<input class="form-control margin" type="text" name="sizes" placeholder="Size">
							</div>
							<div class="col-xs-3">
								<input class="form-control margin" type="number" name="stocks" placeholder="Stock">
							</div>
						</div>
						<br><button type="submit" class="btn btn-primary">Simpan</button>
					</form> 
					<hr>                    
					<h4>All</h4>  
					<table class="table table-striped style4">
						 <thead class="thead-dark style1">
							 <th>Season</th>
							 <th>Category</th>
							 <th>Product </th>
							 <th>Color</th>
							 <th>Size </th>
							 <th>Stock</th>
						 </thead>
						 <tbody>
							 <% all.forEach ( all => { %>
								 <tr>
									 <td><%= all.nameseason %> </td>
									 <td><%= all.category_name %> </td>
									 <td><%= all.product %> </td>
									 <td><%= all.color %> </td>
									 <td><%= all.size %> </td>
									 <td><%= all.stock %></td>                                       
									 </tr>
							 <% }) %>
						 </tbody>
					 </table>    
				
			</div>

			
		
			
		</div>
	</body>
</html>